<div class="container"> 
    <header class="d-flex justify-content-between container header-cart mt-4">
        <h1 class="mb-0">Carrito</h1>
        <h2 class="mb-0">$</h2>
    </header>
    <div class="container p-0 mt-4 box-cart d-flex flex-row justify-content-between">
        <div class="cart">
            {{>cardCart }}
        </div>
        <div class="cart-data d-flex flex-column align-items-center p-2 py-4">
            <button id="delete-cart" class="btn mb-3 btn-outline-danger">Eliminar carrito</button>
            <button id="buy-cart" class=" btn btn-outline-success">Finalizar compra</button>
        </div>
    </div>
</div>