<div class="container profile-box">
    <h1>...Hola {{user.fullname}}!</h1>
    <p>Role: {{user.role}}</p>
    <p>Mail: {{user.email}}</p>
    <p>Cart: {{user.cart}}</p>
    <a href="/api/sessions/logout">Cerrar sesion</a>
</div>

<script src="https://kit.fontawesome.com/e7d1877029.js" crossorigin="anonymous"></script>