<div class="container d-flex flex-column justify-center align-center">
    <h1 class="text-center mb-4">{{ticket.code}}</h1>
    <p class="text-center"> Comprador: {{ticket.purchaser}}</p>
    <p class="text-center">Fecha de compra: {{ticket.purchase_datetime}}</p>
    <p class="text-center">Total de compra: ${{ticket.amount}}</p>
    <a href="/products">Volver al inicio</a>
</div>