* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.box-cards {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 50px;
}

.card-img-top {
  height: 286px;
  width: auto;
}

.figure-img {
  display: flex;
  justify-content: center;
}

.box-form {
  border: 1px solid black;
  border-radius: 20px;
  width: 70%;
  margin-top: 200px;

}

.container-form {
  padding: 20px;
}



/* ESTILOS DEL NAVBAR */
/* From Uiverse.io by faxriddin20 */
.button-container {
  display: flex;
  background-color: black;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin-top: 40px;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}





.link-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el enlace y el botón */
}

.truncated-link {
  display: inline-block;
  max-width: 170px; /* Ajusta el ancho máximo según tus necesidades */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none; /* Quita el subrayado del enlace */
  color: blue; /* Color del enlace */
}

.link-button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.card-description{
  color: rgba(0, 0, 0, 0.4);
  font-size: .8rem;
  height: 40px;
}

.form-label{
  width: 200px; /* Ancho fijo para el input */
  overflow: hidden; /* Oculta el desbordamiento */
  white-space: nowrap; /* Evita el salto de línea */
}

.form-label input {
  width: 100%; /* Asegura que el input ocupe todo el ancho del contenedor */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
  text-overflow: ellipsis; /* Muestra "..." cuando el texto es demasiado largo */
  overflow: hidden; /* Asegura que el desbordamiento se oculte */
}