{{#each cart.products}}

<div class="container d-flex align-items-center">
    <figure class="fig-cart mb-0">
        <img src={{this.product.thumbnails.[0]}} alt="" class="img-cart">
    </figure>
    <p class="mb-0 ms-4">{{this.product.tittle}}     <strong class="ms-3">x{{this.quantity}}</strong> </p>
</div>

{{/each }}